<div class="navbar">
  <li><%= link_to 'Home', welcome_index_url %></li>
  <li><%= link_to 'Register', new_user_registration_path %></li>
  <li><%= link_to 'Sign In', new_user_session_path %></li>
  <li><%= link_to 'Add Boba Spot'%></li>
</div>
